/* progressExams.css */

/* الخطوط الأساسية */
.swiper-pagination-bullet {
  width: 30px !important;
  height: 4px !important;
  border-radius: 4px !important;
  background: var(--border) !important;
  opacity: 0.5;
  margin: 0 4px !important;
  transition: all 0.3s ease;
}

/* اللون النشط */
.swiper-pagination-bullet-active {
  background: var(--primary) !important;
  opacity: 1;
  width: 40px !important;
}
 